.App {
  /* text-align: center; */
  background-color: black;
  color: white;
}
body{
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header h4, .heading{
  color: blue;
}

.continent-container{
  display: flex;
  justify-content: center; 
}
.continent-card {
  position: relative;
  margin:20px;
}
.other-details{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.continent-card img{
  height: 200px;
  width: 200px;
  /* position: absolute; */
}
.cont-name{
  margin-left:5px;
}
.continent-name-detail{
  position: absolute;
  bottom: 0;
  margin-left: 5px;
}
.destination-detail-container{
  display: flex;
  text-align: left; 
  justify-content: center;
  margin:30px;
}
header{
  text-align: center;
}
.backButton{
  position: absolute;
  top:0;
  left:0;
  margin:10px;
}
.detail-container{
  display: flex;
  word-wrap: break-word;
}
.heading{
  word-wrap: break-word;
  margin-right:10px;
  width: 120px;
}
.content{
  word-wrap: break-word;
  max-width: 600px;
}
@media (max-width: 767px)
{
  .continent-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .destination-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }
  .other-details{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin:20px;
  }
  .heading{
    word-wrap: break-word;
    margin-right:10px;
    width: 90px;
  }
  header h2{
    font-size: small;
  }
  header h1{
    font-size: x-large;
  }
  body{
    word-wrap: break-word;
  }
}
/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
